*{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    color: white;
    font-family: 'Fjalla One', sans-serif;}
body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(70,19,80,0.8267682072829132) 100%);
}
.app {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.app > * {
    margin: 0.5rem;
}
.app > img {
    margin: auto;
}
.temp > span {
    cursor: pointer;
    color: blue;
    text-underline: aqua;
}